<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
    <title>index</title>
</head>
<body>
<div style="text-align: center">
    <p>支付</p>
<form method="post" th:action="@{/pay}">
    <button type="submit" style="width: 270px;height: 80px;"><img th:src="@{/static/img/logo.png}"/></button>
</form>
</div>
</body>
</html>